body {
    font-family: 'Roboto', Arial, sans-serif; 
    background-color: #f4f4f4; 
    color: #333; 
    margin: 0;
    padding: 20px;
    overflow-x: auto;
}

header, form, table {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
}

input[type="file"], button, .dropdown .dropbtn, .dropdown-content a {
    width: 100%;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, .dropdown-content a {
    font-weight: bold;
    color: #5c6bc0; 
}


input[type="file"] {
    background: transparent;
    border: 2px solid #5c6bc0; 
    border-radius: 4px;
    padding: 10px;
    color: #333; 
}


button, .dropbtn {
    background-color: #5c6bc0; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover, .dropdown:hover .dropbtn {
    background-color: #3949ab; 
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #5c6bc0; 
    color: white;
}

tr:nth-child(even) {
    background-color: #e8eaf6; 
}

.dropdown-content a {
    background-color: #5c6bc0;  
    color: white;               
    padding: 8px 16px;          
    margin: 5px 0;              
    display: block;             
    text-align: center;         
    border-radius: 4px;        
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content a:hover {
    background-color: #3949ab;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}


.dropdown {
    position: relative; 
}


.dropdown-content {
    padding: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    border-radius: 8px;
}

#file-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

#file-list th, #file-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#file-list th {
    background-color: #5c6bc0; 
    color: white;
}

#file-list tr:nth-child(even) {
    background-color: #e8eaf6; 
}