[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "console_sudoku"
version = "0.0.6"
authors = [
  { name="Sulaimaan Khurrum", email="sul.khu@gmail.com" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/SulKhu/Sudoku"
Issues = "https://github.com/SulKhu/Sudoku/issues"