.bd-footer-content {
  .footer-content-items {
    display: flex;
    flex-flow: column wrap;
    margin-top: auto;
    place-content: center space-evenly;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @media (min-width: $breakpoint-xl) {
      flex-direction: row;
      max-width: 60em;
    }

    p.copyright,
    p.last-updated {
      margin: 0%;
    }
  }

  border-top: 1px solid var(--pst-color-border);
}
