[build-system]
requires = ["scikit-build-core >=0.4.3", "nanobind >=1.3.2"]
build-backend = "scikit_build_core.build"

[project]
name = "bbf"
dynamic = ["version"]
description = "Fast computation of broadband fluxes and magnitudes"
readme = "README.md"
authors = [
        { name = "Nicolas Regnault", email = "nicolas.regnault@lpnhe.in2p3.fr" },
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering :: Astronomy",
    "Topic :: Scientific/Engineering :: Physics"
]
keywords = ["astronomy", "astrophysics"]
license = { file = "LICENSE" }

requires-python = ">=3.8"
dependencies = [
    "astropy",
    "getCalspec",
    "importlib_resources; python_version < '3.9'",  # not needed from 3.10
    "matplotlib",
    "numpy",
    "pandas",
    "platformdirs",
    "scipy >= 1.10",
    "scikit-sparse",
    "sncosmo"  # for now we must rely on https://github.com/nregnault/sncosmo
]

[project.urls]
Repository = "https://gitlab.in2p3.fr/lemaitre/bbf"

[project.optional-dependencies]
test = ["pytest>=6.0"]

[tool.scikit-build]
# Reads the minimal required cmake version from CMakeLists.txt (pip install it
# as needed)
cmake.version = "CMakeLists.txt"

# By default build an optimized version of the C extension
cmake.build-type = "Release"

# Protect the configuration against future changes in scikit-build-core
minimum-version = "0.4"

# Setuptools-style build caching in a local directory
build-dir = "build/{wheel_tag}"

# Build stable ABI wheels for CPython 3.12+
wheel.py-api = "cp312"

sdist.exclude = ["notebooks", "examples"]


[tool.scikit-build.metadata.version]
# Reads the version from bbf/__init__.py::__version__
provider = "scikit_build_core.metadata.regex"
input = "bbf/__init__.py"

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = "tests"
python_files = ["tests/test_*.py"]
