/**
 * Persona 
 * 
 */

img.persona {
  background-color: var(--pst-color-background) !important;
  border-radius: 0.25rem;
}

.persona {
  height: 3rem;
  width: 3rem;
  margin: 0 0.05em 0 0.1em;
  vertical-align: baseline;
}
